*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');


h1{
    font-family: 'Ropa Sans', sans-serif;
}

body{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}



html{
    font-size: 10px;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
}

header{
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 3rem;
    font-weight: 400;

    color:#777777;
    text-transform: uppercase;
}

.logo h2{
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-left: 5px;
    color: #AAAAAA
}

.banner {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: 10px auto;
    background: url('./img/slide-1.png') center center no-repeat;
    object-fit:cover;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.setas{
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.cards{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    font-size: 1rem;
}

.card1, .card2{
    width: 100%;
    height: auto;
    max-width: 256px;
    margin: 0 auto;
    background-color: #eeeeee;
    margin-bottom: 20px;
    color: #555555;
}

.card1 img{
    max-height: 144px;
}

.text{
    padding: 10px;
}

.price-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.price{
    font-size: 2.5rem;
    color:#888888;
}

.btn{
    padding: 5px;
    border-radius: 50px;
    color: white;
    font-size: 1.5rem;
    border: 0;
}

.green{
    background-color: #51D275;
}

.orange{
    background-color: #DC9730;
}

@media (min-width: 525px) {
    .cards{
        display: flex;
    }

    .card1, .card2{
        margin: 0;
    }

    .banner {
        margin: 20px auto;
        min-height: 250px;
        background-size: 100%;
        padding: 10px;
    }
}

.bannerstyle{
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 2rem;
    margin: 10px auto;
    text-align: center;
    color: white;
}

@media (min-width: 525px) {
    .bannerstyle{
        margin: 30px auto;
    }
}

.bannerstyle h1{
    color: #888888;
    font-weight: 400;
}

.bannerstyle h2{
    font-size: 2rem;
    font-weight: 400;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.55);
}

.style1{
    width: 100%;
    padding: 35px;
    background: url('./img/industrial.png') center center no-repeat;
    object-fit: cover;
    opacity: .5;
}

.style2{
    width: 100%;
    padding: 35px;
    background: url('./img/moderno.png') center center no-repeat;
    object-fit: cover;
    opacity: .5;
}

.style3{
    width: 100%;
    padding: 35px;
    background: url('./img/classico.png') center center no-repeat;
    object-fit: cover;
    opacity: .5;
}

@media (min-width:525px){

    .bannerstyle h2{
        font-size: 2.5rem;
    }

    .style1, .style2, .style3{
        padding: 45px;
        background-size: 100%;
    }
}

footer{
    background: #333333;
    display: flex;
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    padding: 10%;
    flex-direction: column;
}


.adress{
    margin: 10px auto;
    line-height: 1.8rem;
    font-weight: 400;
}

.adress h2{
    margin-top: 10px;
    font-weight: 400;
}

.logo-social{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
}

.logo-social img{
    padding-right: 10px
}

@media (min-width: 525px) {
    footer {
            flex-direction: initial;
            align-content: center;
            justify-content: space-between;
    }

    .adress{
        margin: 0;
    }
}

/*
html {
    font-size: 12px;
}
header {
    
 
}
header .container {
    display: flex;
    justify-content: space-between;
   
}
.logo{
    width: 100%;
  
}
.logo h1 {
    font-size: 50px;
    color:#777;
}
header .logo h2 {
    font-size: 18px;
    color: #aaa;
}
.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}
.btnMenu {
    margin: 10px;
}

.pai {
    width: 500px;
    padding: 30px;
    height: 100px;
    background-color: black;
    
}

p {
    font-size: 2rem;
}
.filho  {
    width: 50%;
    height: 50%;
    margin: 20px;
 

    background-color: blue;
    
}
.pai-mobile {
    display: none;
}
@media (max-width: 700px) {
    .pai-mobile {
        display: flex;
    }
    .pai{
        display: none;
    }
    .pai{  
      width: 150px ;
      background-color: red;
    }

  }
  
@media (max-width: 400px) {
  .pai{  
    width: 100px ;
    background-color: blanchedalmond;
  }

}*/

